/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--off-white);
}

:root {
    --off-white: #f2f5f9;
    --white: #fff;
    --dark-blue: #111729;
    --slate-blue: #4a5567;
}

@font-face {
    font-family: "Lato Regular";
    src: url(./fonts/lato-v25-latin-regular.woff2) format("woff2");
}

@font-face {
    font-family: "Lato Bold";
    src: url(./fonts/lato-v25-latin-700.woff2) format("woff2");
}

/* Typography */

h1,
.name {
    font-family: "Lato Bold", Arial, Helvetica, sans-serif;

    color: var(--dark-blue);
}

h1 {
    font-size: 1.8rem;
}

.name,
.job-title {
    font-size: 1rem;
}

.card-main-text,
.job-title {
    font-family: "Lato Regular", Arial, Helvetica, sans-serif;
    color: var(--slate-blue);
    line-height: 150%;
}

.author-info {
    font-family: "Lato Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    color: rgb(55, 65, 81);
    text-decoration: underline;
}

/* Main */

main {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.card {
    background-color: var(--white);
    height: auto;
    min-width: 24.75rem;
    max-width: 26.125rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0.2rem 0.2rem 1rem var(--slate-blue);
    margin-block-end: 2rem;
}

.card-img-container {
    position: relative;
}

.img-main-mobile {
    height: auto;
    width: 100%;
    z-index: 1;
}

.img-main-tablet-desktop {
    display: none;
}

.img-overlay {
    position: absolute;
    z-index: 99;
    left: 0;
    bottom: 0;
    width: 100%;
}

h1 {
    margin-block-end: 0.5rem;
}

.card-text-container {
    padding: 0 1.5rem;
}

.card-main-text,
hr,
.profile-container {
    margin-block-end: 2rem;
}

hr {
    background-color: var(--off-white);
}

.profile-container {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.img-profile-mobile {
    border-radius: 50%;
    height: auto;
    width: 3rem;
}

/* Media Queries */

@media screen and (min-width: 51.25rem) {
    .img-main-mobile {
        display: none;
    }

    .img-main-tablet-desktop {
        display: block;
    }

    .img-overlay {
        bottom: -0.1rem;
    }
}
